<ion-content>
  <div class="decoration">
    <img src="assets/icon/logo.jpg">
  </div>
  <div class="container">
    <form>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Changer le Mot de Passe
          </ion-card-title>
          <ion-card-subtitle>vous allez proceder au renouvellement de votre mot de passe</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">
            <ion-label position="floating">Ancien Mot de Passe</ion-label>
            <ion-input [(ngModel)]="oldPassword" type="password" name="oldPassword"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Nouveau Mot de passe</ion-label>
              <ion-input [(ngModel)]="newPassword" type="password" name="newPassword"></ion-input>
          </ion-item>
          <ion-item lines="none">
              <ion-label position="floating">Retapez Mot de Passe</ion-label>
              <ion-input [(ngModel)]="newcPassword" type="password" name="newcPassword" placeholder=""></ion-input>
          </ion-item>
          <ion-buttons class="action-button-block">
            <ion-button id="annuler" class="button" (click)="cancelThisOpeartion()">Annuler</ion-button>
            <ion-button class="button" (click)="modifiedPasswor()">Sauvegarder</ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>