
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" color="primary">
      <ion-button slot="icon-only" (click)="closeThisModal()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <form>
      <ion-card>
        <div>
            <ion-label>Ancien Password:</ion-label>
            <div class="form-group">
              <ion-input [(ngModel)]="oldPassword" type="password" name="oldPassword"></ion-input>
            </div>
          </div>
          <div>
            <ion-label>Nouveau Password :</ion-label> 
            <div class="form-group">
              <ion-input [(ngModel)]="newPassword" type="password" name="newPassword"></ion-input>
            </div>
            
          </div>
          <div>
            <ion-label>Retapez le Password :</ion-label>
            <div class="form-group">
              <ion-input [(ngModel)]="newcPassword" type="password" name="newcPassword" placeholder=""></ion-input>
            </div>
          </div>
          <div class="row">
            <div>
              <div class="button" (click)="cancelThisOpeartion()">Annuler</div>
            </div>
            <div>
              <div class="button" (click)="modifiedPasswor()">Sauvegarder</div>
            </div>
          </div>
      </ion-card>
        
    </form>
  </div>
</ion-content>
