ion-content {
  background: transparent;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container ion-card {
  padding-bottom: 10px;
}
.container ion-card ion-buttons {
  width: 100%;
  justify-content: center;
}
.container ion-card ion-buttons ion-button {
  width: 10rem;
  background: darkcyan;
  color: white;
  font-family: Lato;
}
