
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" color="primary">
      <ion-button slot="icon-only" (click)="closeThisModal()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <form>
      <ion-card>
        <ion-item lines="none">
          <ion-label>Ancien Password:</ion-label>
          <ion-input [(ngModel)]="oldPassword" type="password" name="oldPassword"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Nouveau Password :</ion-label> 
          <ion-input [(ngModel)]="newPassword" type="password" name="newPassword"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Retapez le Password :</ion-label>
          <ion-input [(ngModel)]="newcPassword" type="password" name="newcPassword"></ion-input>
        </ion-item>
        <ion-buttons>
          <ion-button (click)="cancelThisOpeartion()" >Annuler</ion-button>
          <ion-button (click)="modifyPasswor()" >Sauvegarder</ion-button>
        </ion-buttons>
      </ion-card>
    </form>
  </div>
</ion-content>
