.container-log-page {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-card {
        text-align: center;
        padding: 1rem;
        width: 23rem;;
    }
    ion-item{ 
        border-color: #e2dfdf;
        border: 1px solid #e2dfdf !important;
        border-radius: 5px;
        margin: 1rem;
        ion-label{ 
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: dimgrey;
            font-size: 1.2rem;
        }
    }
    ion-button{
        background-color: none !important;
        border-radius: 5px;
}


.button{
    background-color: #0055a4;
    border-radius: 5px;
    padding: 0.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e2dfdf;
    font-size: 0.8rem;
    cursor: pointer;
}

}