<ion-content>
  <div class="container-log-page">
    <div class="decorate"></div>
    <div class="logoBLock" id="logoBLockId">
      <img src="assets/icon/logo.jpg">
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Se Connecter</ion-card-title>
        <div class="border-title"></div>
      </ion-card-header>
      <ion-card-content>
        <form>
          <div class="form-group">
            <ion-input type="text" name="login" [(ngModel)]="login" placeholder="Login"></ion-input>
          </div>
          <div class="form-group">
            <ion-input [type]="typePassWord" name="password" [(ngModel)]="password" placeholder="Mot de passe">
                <ion-icon (click)="showOrHidePassword()" slot="icon-only" [name]="iconPpassword"></ion-icon>
            </ion-input>
          </div>
          <ion-button expand="full" (click)="seConnecter()">SE CONNECTER</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="copiright-block">
      &copy; OLA Cameroun 2020
    </div>
  </div>
</ion-content>