ion-tab-bar {
  --background: #040000;
  height: 45px;
}
ion-tab-bar ion-tab-button ion-icon {
  font-size: 1rem;
}
ion-tab-bar ion-tab-button ion-label {
  margin-bottom: 8px;
}
ion-tab-bar ion-tab-button ion-badge {
  font-size: 0.4rem;
  top: 4px;
  left: calc(50% + 2px);
}
