ion-card {
    border-left: 4px solid darkcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    .info-line {
        width: 100%;
        .title-info {
            float: left;
        }
        .info-sepsep {
            float: left; 
            margin-left: 15px;
        }
    }
}

#bold {
    text-transform: uppercase;
    font-weight: 500;
}