

<ion-content>
  <div class="container">
    <div class="blog-img">
      <img src="assets/icon/logo.jpg">
    </div>
      <h5>Veuillez entrer votre NOuveau Code Pin </h5>
    <div class="cadran-buttn">
      <div class="cadran"><div id="checkId1"></div></div>
      <div class="cadran"><div id="checkId2"></div></div>
      <div class="cadran"><div id="checkId3"></div></div>
      <div class="cadran"><div id="checkId4"></div></div>
      <div class="cadran"><div id="checkId5"></div></div>
      <div class="cadran"><div id="checkId6"></div></div>
    </div>
    <div class="button-carried">
      <div class="block-3">
        <div class="button-box" (click)="storeValue(1)">1</div>
        <div class="button-box" (click)="storeValue(2)">2</div>
        <div class="button-box" (click)="storeValue(3)">3</div>
      </div>
      <div class="block-3">
        <div class="button-box" (click)="storeValue(4)">4</div>
        <div class="button-box" (click)="storeValue(5)">5</div>
        <div class="button-box" (click)="storeValue(6)">6</div>
      </div>
      <div class="block-3">
        <div class="button-box" (click)="storeValue(7)">7</div>
        <div class="button-box" (click)="storeValue(8)">8</div>
        <div class="button-box" (click)="storeValue(9)">9</div>
      </div>
      <div class="block-3">
        <div class="button-box" (click)="deleteValue()">DEL</div>
        <div class="button-box" (click)="storeValue(0)">0</div>
        <div class="button-box">X</div>
      </div>
    </div>
    <div class="button-action">
      <ion-button [disabled]="buildNewPing.length !== 6" (click)="validerNouveauPin()">VALIDER</ion-button>
      <ion-button (click)="annulerAction()">ANNULER</ion-button>
    </div>
  </div>
</ion-content>
