<app-header [titre]="'CONSOMMATION'" [soustitre]="'le sous-titre de la page'" [defaultParenUrl]="defaultParentUrl">
</app-header>
<ion-content>
  <div class="container">
    <div class="title-page">Nouvelle Consommation</div>
    <form class="form-block" #consumptForm="ngForm" novalidate autocomplete="off">
        <div class="item-form">
          <ion-label position="floating">Pompe (*)</ion-label>
          <div class="form-group">
            <ion-select interface="action-sheet" name="chosedPump" [(ngModel)]="chosedPump" placeholder="Selectioner la Pompe">
              <ion-select-option [value]="pompe" *ngFor="let pompe of listPompes">
                <ion-label>
                  <h2>
                    {{pompe.libelle_pompe}} ::  {{pompe.code_pompe}}
                  </h2>
                </ion-label>
              </ion-select-option>
            </ion-select>
          </div>
        </div>
        <div class="item-form">
          <ion-label position="floating">Shift</ion-label>
            <div class="form-group" >
              <ion-select interface="action-sheet" (ionChange)="onShiftSelected()" name="shift" [(ngModel)]="hoursAvailable" placeholder="Choisir la Periode">
                <ion-select-option> NUIT </ion-select-option>
                <ion-select-option> JOUR </ion-select-option>
              </ion-select>
            </div>
        </div>
      <div class="item-form">
        <ion-label position="floating">Carburant</ion-label>
        <div class="form-group">
            <ion-select interface="action-sheet" name="typeCarburant" [(ngModel)]="typeCarburant" placeholder="Type de Carburant" >
                <ion-select-option value="GO">GO</ion-select-option>
                <ion-select-option value="PO">PO</ion-select-option>
                <ion-select-option value="TO">TO</ion-select-option>
              </ion-select>
        </div>
      </div>
      <div class="item-form">
        <ion-label position="floating">Vehicule</ion-label>
        <div class="form-group">
            <ion-select class="form-select" interface="action-sheet"
                      (ionChange)="fullFieldDriver()"
                      name="vehicule"
                      [(ngModel)]="vehicule"
                      placeholder="Selectionner le Vehicule">
                <ion-select-option [value]="vehicule" *ngFor="let vehicule of listVehicules">
                  <p>{{vehicule.marque_modele}}</p><br>
                  <p>{{vehicule.current_odometer + 'Km' + vehicule.immatriculation}}</p>
                </ion-select-option>
              </ion-select>
        </div>
      </div> 
      <div class="item-form">
        <div class="form-group">
          <ion-input name="chauffeur" disabled [placeholder]="chauffeurName ? chauffeurName : 'Nom CHauffeur '"></ion-input>
        </div>
      </div>
      <div class="row-line">
        <div class="title-row">Kilometrage</div>
        <div class="row">
          <div class="form-group">
            <ion-input type="number" name="oldDistance" [(ngModel)]="oldDistance" placeholder="Ancienne Dist"></ion-input>
          </div>
          <div class="form-group">
            <ion-input type="number" name="newDistance" [(ngModel)]="newDistance" placeholder="Nouvelle Dist"></ion-input>
          </div>
      </div>
      </div>
     
      <div class="row-line">
        <div class="title-row">Mesure de la Pompe :</div>
        <div class="row">
          <div class="form-group">
            <ion-input type="number" (ionChange)="calculateMesurePompe('old')" name="startIndex" [(ngModel)]="startIndex" placeholder="Ancien index"></ion-input>
          </div>
          <div class="form-group">
            <ion-input type="number" (ionChange)="calculateMesurePompe('new')" name="endIndex" [(ngModel)]="endIndex" placeholder="Nouvel Index"></ion-input>
          </div>
          <div class="form-group">
            <ion-input type="number" name="mesure" disabled [placeholder]="mesure? mesure : 'Consommation'"></ion-input>
          </div>
        </div>
      </div>
      <div class="row-line">
        <div class="title-row">Image</div>
        <div class="image-file" id="imageBlock">
          <img *ngIf="imagePompe" [src]="imagePompe"/>
        </div>
        <ion-button id="buttonImage" (click)="addPhotoNow()">IMAGE</ion-button>
          <!-- <ion-input name="imagePompe" type="" [(ngModel)]="imagePompe"></ion-input>
          <ion-input name="imagePompe" type="file" [(ngModel)]="imagePompe"></ion-input> -->
        </div>
      <ion-buttons class="action-button-block">
        <ion-button *ngIf="!canValidateOperation"
                    [disabled]="!consumptForm.valid"
                    (click)="selectImage()">AJOUTER PHOTO</ion-button>
        <ion-button id="annuler" 
                    *ngIf="canValidateOperation"
                    [disabled]="!consumptForm.valid"
                    (click)="selectImage()">Annuler</ion-button>
        <ion-button *ngIf="canValidateOperation" (click)="processStoreConsomation()">VALIDER</ion-button>
    </ion-buttons>
    </form>
  </div>
</ion-content>