.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    box-shadow: dimgray 1px 0px 2px 0px;
    .form-block {
        width: 100%;
        max-width: 35rem;
        padding: 0.5rem;
        position: relative;
        ion-item {
            margin-top: 1%;
        }
        ion-buttons {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: yellow;
            left: 0;
            ion-button {
                width: calc(50% - 5px);
            }
        }
    }

    ion-select{
        flex-wrap: wrap;
    }
    .validate{
        background-color: #0055a4;
        border-radius: 5px;
        padding: 0.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #e2dfdf;
        font-size: 0.8rem;
        cursor: pointer;
    }

    .button{
        background-color: rgb(233, 101, 101);
        border-radius: 5px;
        padding: 0.7rem;
        font-weight: 500;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #e2dfdf;
        font-size: 0.8rem;
        cursor: pointer;
    }
}