<app-header [titre]="'DISTRIBUTION'" [soustitre]="'le sous-titre de la page'" [defaultParenUrl]="defaultParentUrl">
  </app-header>
  <ion-content>
    <div class="container">
      <div class="title-page">Nouvelle Distribution</div>
      <form class="form-block" #consumptForm="ngForm" novalidate autocomplete="off">
          <div class="item-form">
            <ion-label position="floating">Pompe (*)</ion-label>
            <div class="form-group">
              <ion-select interface="action-sheet" name="chosedPump" [(ngModel)]="chosedPump" placeholder="Selectioner la Pompe">
                <ion-select-option [value]="pompe" *ngFor="let pompe of listPompes">
                  <ion-label>
                    <h2>
                        {{pompe.libelle_pompe}} ::  {{pompe.code_pompe}}
                    </h2>
                  </ion-label>
                </ion-select-option>
              </ion-select>
            </div>
          </div>
          <div class="item-form">
              <ion-label position="floating">Shift</ion-label>
              <div class="form-group">
                <ion-select interface="action-sheet" (ionChange)="onShiftSelected()" name="shift" [(ngModel)]="hoursAvailable" placeholder="Choisir la période">
                  <ion-select-option> NUIT </ion-select-option>
                  <ion-select-option> JOUR </ion-select-option>
                </ion-select>
              </div>
          </div>
        <div class="item-form">
          <ion-label position="floating">Carburant</ion-label>
          <div class="form-group">
              <ion-select interface="action-sheet" name="typeCarburant" [(ngModel)]="typeCarburant" placeholder="Type de Carburant" >
                  <ion-select-option value="GO">GO</ion-select-option>
                  <ion-select-option value="PO">PO</ion-select-option>
                  <ion-select-option value="TO">TO</ion-select-option>
                </ion-select>
          </div>
        </div>
        <div class="item-form">
          <ion-label position="floating">Compartiment:</ion-label>
          <div class="form-group">
            <ion-select class="form-select"
                        interface="action-sheet"
                        (ionChange)="fullFieldCompartment()"
                        name="vehicule"
                        [(ngModel)]="compartment"
                        placeholder="Selectionner le compartiment">
                <ion-select-option [value]="compartment" *ngFor="let compartment of compartment">
                  <p></p><br>
                  <p></p>
                </ion-select-option>
              </ion-select>
          </div>
          </div>
          <div class="item-form">
            <ion-label position="floating">Type d'opération:</ion-label>
            <div class="form-group">
              <ion-select class="form-select"
                          interface="action-sheet"
                          (ionChange)="fullFieldOperationType()"
                          name="operationType"
                          [(ngModel)]="typeProduit"
                          placeholder="Choisir">
                  <ion-select-option [value]="operation" *ngFor="let operation of operationTypes">
                    <p></p><br>
                    <p></p>
                  </ion-select-option>
                </ion-select>
            </div>
          </div>
          <div class="item-form">
            <ion-label position="floating">Véhicule:</ion-label>
            <div class="form-group">
                <ion-select class="form-select"
                            interface="action-sheet"
                            (ionChange)="fullFieldDriver()"
                            name="vehicule"
                            [(ngModel)]="vehicule"
                            placeholder="Choisir">
                    <ion-select-option [value]="vehicule" *ngFor="let vehicule of listVehicules">
                      <p>{{vehicule.marque_modele}}</p><br>
                      <p>{{vehicule.current_odometer + 'Km' + vehicule.immatriculation}}</p>
                    </ion-select-option>
                  </ion-select>
            </div>
          </div>
          <div class="item-form">
              <ion-label position="floating">Chauffeur</ion-label>
              <div class="form-group">
                <ion-input name="chauffeur" disabled [placeholder]="chauffeurName ? chauffeurName : 'Nom CHauffeur'"></ion-input>
              </div>
            </div>
            <div class="row-line">
                <div class="title-row">Kilometrage</div>
                <div class="row">
                  <div class="form-group">
                    <ion-input type="number" name="oldDistance" [(ngModel)]="oldDistance" placeholder="Ancienne Dist"></ion-input>
                  </div>
                  <div class="form-group">
                    <ion-input type="number" name="newDistance" [(ngModel)]="newDistance" placeholder="Nouvelle Dist"></ion-input>
                  </div>
              </div>
            </div>

            <div class="row-line">
                <div class="title-row">Mesure de la Pompe :</div>
                <div class="row">
                  <div class="form-group">
                    <ion-input type="number" (ionChange)="calculateMesurePompe('old')" name="startIndex" [(ngModel)]="startIndex" placeholder="Ancien index"></ion-input>
                  </div>
                  <div class="form-group">
                    <ion-input type="number" (ionChange)="calculateMesurePompe('new')" name="endIndex" [(ngModel)]="endIndex" placeholder="Nouvel Index"></ion-input>
                  </div>
                  <div class="form-group">
                    <ion-input type="number" name="mesure" disabled [placeholder]="mesure? mesure : 'Consomation'"></ion-input>
                  </div>
                </div>
              </div>
          <div class="row-line">
            <div class="title-row">Image</div>
            <div  class="image-file" id="imageBlock">
              <img *ngIf="imagePompe" [src]="imagePompe"/>
            </div>
            <ion-button id="buttonImage" (click)="addPhotoNow()">Ajouter Photo</ion-button>
          </div>
          <ion-buttons class="action-button-block">
              <ion-button id="annuler" 
                          *ngIf="canValidateOperation"
                          [disabled]="!consumptForm.valid"
                          (click)="cancelProcess()">Annuler</ion-button>
              <ion-button *ngIf="canValidateOperation" (click)="processStoreConsomation()">VALIDER</ion-button>
          </ion-buttons>
      </form>
    </div>
  </ion-content>