ion-toolbar {
    ion-title {
        .title {
            font-size: 14px;
            text-transform: uppercase;
            font-family: Lato;
        }
        .subtitle {
            font-size: 10px;
        }
    }   
}