<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="defaultParenUrl !== 'isHome'">
      <ion-back-button [defaultHref]="defaultParenUrl"></ion-back-button> 
    </ion-buttons>
    <ion-title>
      <div class="title">{{titre}}</div>
      <div class="subtitle">Le lorem Ipsum Dolor </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-badge>{{'pompiste'}}</ion-badge>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="decoration">
      <img class="logo-etse" src="assets/icon/logo.jpg">
    </div>
  </ion-toolbar>
  
</ion-header>