ion-header {
    background: #3e3636;
    height: 40px;
    overflow: hidden;
    ion-toolbar {
        --background: #3e3636;
        position: relative;
        padding-top: unset;
        ion-buttons {
            align-items: flex-start;
            ion-back-button {
                color: white;
                margin-top: -28%;
            }
            ion-badge {
                padding-left: 15px;
                padding-right: 15px;
                font-family: Lato;
                text-transform: uppercase;
                font-size: 8px;
                background: #0f5861;
            }
    
            ion-menu-button {
                margin-top: -17px;
            }
        }
    
        .decoration {
            position: absolute;
            right: 0;
            width: 50%;
            height: 100%;
            background: #ffd31a;
            top: 0;
            .icon-type-user {
                position: absolute;
                left: 12%;
                top: 16%;
                height: 1rem;
                width: 1rem;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
    
            .logo-etse {
                position: absolute;
    border: 1.5px solid #3e3636;
    border-radius: 50%;
    top: 9%;
    left: -8%;
    height: 1.8rem;
    width: 1.8rem;
            }
        }
    
        ion-title {
            text-align: left;
            -webkit-padding-start: 15px;
            padding-inline-start: 15px;
            margin-top: -7%;
            .title {
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                color: white;
                text-transform: uppercase;
                font-size: 12px;
            }
    
            .subtitle {
                font-size: 9px;
                font-family: raleway;
                color: white;
            }
    
    
        }
    }
}

