ion-split-pane {
    ion-menu {
        .container-lateral-menu {
            background: #221e1e;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            .header-info {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                height: 7rem;
                background: white;
                width: 100%;
                padding-left: 10px;
                .imageUser {
                    width: 3.5rem;
                    height: 3.5rem;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 3px solid #221e1e;
                }
                .infoUser {
                    padding-left: 10px;
                    height: 3.5rem;
                    width: calc(100% - 3.5rem);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: unset;
                    .name {
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        text-transform: uppercase;
                        font-size: 1.3rempx;
                        color: #787575;
                    }
                    .role {
                        font-family: Lato;
                        font-size: .6rem;
                        font-weight: bold;
                    }
                    .email {
                        font-family: raleway;
                        font-size: .7rem;
                    }
                }
            }
            .content-info {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                ion-list {
                    width: 100%;
                    background: transparent;
                    padding-top: 0;
                    ion-list-header {
                        background: #2f2e2e;
                        color: #989595;
                        font-size: 11px;
                        min-height: 30px;
                        font-family: Lato;
                        font-weight: lighter;
                        border-left: 3px solid #f96807;
                    }
                    ion-item {
                        --background: transparent;
                        color: white;
                        font-family: raleway;
                        font-weight: 300;
                        text-transform: uppercase;
                        font-size: 10px;
                        ion-icon {
                            color: #f96807;
                            margin-inline-end: 10px;
                        }
                    }
                }
            }
        }
    }
}

