/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./assets/styles/custum.style.scss";

.container-log-page[_ngcontent-qmx-c1] ion-item[_ngcontent-qmx-c1] {
    border-color: #e2dfdf;
    border: 1px solid #e2dfdf !important;
    border-radius: 5px;
    margin: 1rem;
}


.button-native{
    background-color: none !important;
}
.form-group{ 
    border-color: #e2dfdf;
        border: 1px solid #e2dfdf !important;
        border-radius: 5px;
        margin: 1rem;
        margin-left: 0;
        min-width: 0.2rem;
        ::placeholder, ::content{ 
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: dimgrey;
            font-size: 0.8rem;
            padding: 1rem;
            text-align: left;
        }
}

.title{ 
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.row{ 
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ion-label{
    font-size: 0.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
h4{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

h5{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

.button-box {
    width: 80px;
    height: 80px;
    background: white;
    margin-left: 5px;
    color: dimgray;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: dimgray 1px 0px 2px 0px;
    border-radius: 2px;
    cursor: pointer;
}
