<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="acceuil">
      <ion-icon name="Home" class="iconTabs"></ion-icon>
      <ion-label class="labelClass">Acceuil</ion-label>
      <ion-badge class="bageTabs">7</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="parametrage">
      <ion-icon name="build" class="iconTabs"></ion-icon>
      <ion-label class="labelClass">Parametres</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="messages">
      <ion-icon name="chatbubbles" class="iconTabs"></ion-icon>
      <ion-label class="labelClass">Message</ion-label>
      <ion-badge class="bageTabs">15</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>