<ion-content>
  <div class="container-log-page">
    <ion-card>
      <ion-card-header>
        <ion-card-title> SE LOGGER</ion-card-title>
        <ion-card-subtitle>dash - dash</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form>
          <ion-item>
            <ion-label>Login:</ion-label>
            <ion-input type="text" name="login" [(ngModel)]="login"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Mot de Passe:</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
          </ion-item>
          <ion-button expand="full" (click)="seConnecter()">Se Connecter</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>